@model projet_boutique_vinyle.Models.TAlbum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TAlbum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLabelNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLabelNavigation.IdLabel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAlbum">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
